# Ignore everything
*

# But not these files...
!.gitignore
!*.py
!*.ipynb
# etc...

# ...even if they are in subdirectories
!data/*.py
!data/*.ipynb
!classification/*.py
!classification/*.ipynb

# if the files to be tracked are in subdirectories
!*/*/*.py
!*/*/*.ipynb
