

# But not these files...
!.gitignore
!*.py
!*.ipynb
# etc...

!data/
!data/*.py
!data/*.ipynb
data/*


!classification/*.py
!classification/*.ipynb

classification/*
segmentation/*
augmentation/*
2_Raw/*
3_Images/*

# if the files to be tracked are in subdirectories
!*/*/*.py
!*/*/*.ipynb
